@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-08-07 16:36:17
 * @version $Id$
 */

html{background:#fff;overflow:auto;}
body{min-width:1200px;font:12px/18px "Microsoft Yahei";color:#000; font-weight:normal; -webkit-font-smoothing: antialiased; }
a{color:#000; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;color:#000;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
:focus{ outline: none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0; border:0 none;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
textarea{ resize: none; overflow: hidden; }
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
table{border-collapse:collapse; border-spacing:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}
b,em,i{display:inline-block; font-weight:normal; font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} 
.clearfix{ zoom:1;}
.fl{float:left;}
.fr{float:right;}

.header{width: 1200px;height:80px;margin: 0px auto;}
.header .logo{padding-top: 7px;float: left;}
.header ul{float: right;}
.header ul li{float: left;margin-left:50px; text-align: center;margin-top:30px;}
.header ul li a{font-family:"微软雅黑";font-size:16px;color:#020202; text-align: center;display: block;padding-bottom: 2px;}
.header ul li a:hover,.header ul li .current{border-bottom: 3px solid #8cc1ef;}



.footer{width: auto;height:250px;background:#8cc1ef;margin-top:48px; }
.footer .main{width: 1200px;height:250px;margin: 0px auto;}
.footer .main .left{width: 500px;height:250px;float: left;}
.footer .main .left ul{margin-left: 6px; }
.footer .main .left li{float: left;margin:96px 36px 40px 0px; }
.footer .main .left a{font-family:"微软雅黑";font-size:16px;color:#FFF;}
.footer .main .left p{float: left;padding-left: 6px;font-family:"微软雅黑";font-size:16px;color:#FFF;}
.footer .main .right {width:356px;height: 250px;float: right;}
.footer .main .right img{float: left;padding:70px 44px 0px 0px; }
.footer .main .right ul{margin-top:92px;}
.footer .main .right li{padding-bottom:10px;font-family:"微软雅黑";font-size:16px;color:#FFF;}